<h2>Por País</h2>
<hr />

<!-- Input -->
<div class="row">
  <div class="col">
    <app-pais-input
      (onTermino)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="buscar país..."
      [initialValue]="termino"
    >
      >
    </app-pais-input>
  </div>
</div>

<hr />

<!-- Error -->
<div *ngIf="isError" class="alert alert-danger">
  No se encontraron resultados de: "{{ termino }}""
</div>

<!-- Tabla paises -->
<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-table [paisesTable]="paises"></app-pais-table>
  </div>
</div>
