<h1 class="mb-5" >Elige que componente ver</h1>

<ul class="container d-flex justify-content-evenly " >
  <li class="btn bg-primary text-white" routerLink="dbz" >Crud con DBZ</li>
  <li class="btn bg-primary text-white" routerLink="gifs" >SPA de Gifs</li>
  <li class="btn bg-primary text-white" routerLink="heroes" >Heroes</li>
  <li class="btn bg-primary text-white" routerLink="contador" >Contador</li>
  <li class="btn bg-primary text-white" routerLink="viewport" >Viewport</li>
  <li class="btn bg-primary text-white" routerLink="country" >SPA Paises</li>
</ul>
