<h2>Por Capital</h2>
<hr />

<div class="row">
  <div class="col">
    <app-pais-input
      (onTermino)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="buscar capital..."
      [term]="termino"
    >
    </app-pais-input>
  </div>
</div>

<hr />

<div *ngIf="isError" class="alert alert-danger">
  No se encontraron resultados de: "{{ termino }}""
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-table [paisesTable]="paises"></app-pais-table>
  </div>
</div>
