<div *ngIf="!pais; else divPais" class="alert alert-info">
  Espere por favor....
</div>

<ng-template #divPais>
  <div *ngFor="let item of pais">
    <div class="row">
      <div class="col-12">
        <h1>
          Pais: <strong>{{ item.name.common }}</strong>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <h3>Bandera</h3>
        <img
          title="img"
          [src]="item.flags.svg"
          [alt]="item.name.common"
          class="img-thumbnail"
        />
      </div>

      <div class="col">
        <h3>Información</h3>
        <ul class="list-group-item">
          <li class="list-item">
            <strong>Nombre:</strong> {{ item.name.common }}
          </li>
          
          <li class="list-item">
            <strong>Capital:</strong> {{ item.capital }}
          </li>

          <li class="list-item">
            <strong>Población:</strong> {{ item.population | number }}
          </li>

          <li class="list-item">
            <strong>Idiomas:</strong> {{ idiomas }}
          </li>
        </ul>
      </div>
    </div>

    <h3>Traducciones</h3>
    <div class="row">
      <div class="col">
        <span class="badge bg-primary mr-1">
          {{ item.translations["ara"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ item.translations["ces"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ item.translations["cym"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ item.translations["deu"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ item.translations["est"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ item.translations["fin"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ item.translations["fra"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ item.translations["ita"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ item.translations["jpn"].official }}
        </span>
      </div>
    </div>

    <!-- * toda la info del país parseada -->
    <!-- <pre class="mt-5" >
      {{item | json}}
    </pre> -->
  </div>
</ng-template>
